<%- partial('_partial/head') %>
<%- partial('_partial/header') %>
<main class="main">
  <div class="container">
    <% if(page.type == "tags"){ %>
    <div class="row ">
      <section class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="tagcloud">
          <% if(site.tags.length == 0){ %>
          <h3><%- __('nothing') %></h3>
          <% }else { %>
          <% site.tags.each(function(tag){ %>
          <a class="tagcloud-item" href="<%- url_for(tag.path) %>">
            <div class="article animation" title="<%- tag.name%>">
              <h3 class="article-title" ><%- tag.name %></h3>
              <div class="article-body">
                <% if(tag.length == 1){ %>
                <h4><%- tag.length %></h4>
                <% }else{ %>
                <h1><%- tag.length %></h1>
                <% } %>
                <span><%- __('posts') %></span>
              </div>
            </div>
          </a>
          <% }) %>
          <% } %>
        </div>
      </section>
    </div>
    <% } else if(page.type == "categories"){ %>
    <div class="row">
      <section class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="tagcloud">
          <% if(site.categories.length == 0){ %>
          <h3 ><%- __('nothing') %></h3>
          <% }else{ %>
          <% site.categories.each(function(category){ %>
          <a class="tagcloud-item" href="<%- url_for(category.path) %>">
            <div class="article animation " title="<%- category.name%>">
              <h3 class="article-title"><%- category.name %></h3>
              <div class="article-body">
                <% if(category.length == 1){ %>
                <h4><%- category.length %></h4>
                <% }else{ %>
                <h1><%- category.length %></h1>
                <% } %>
                <span><%- __('posts') %></span>
              </div>
            </div>
          </a>
          <% }) %>
          <% } %>
        </div>
      </section>
    </div>
    <% }else{ %>
    <!--custom page-->
    <%- partial("_partial/article") %>
    <% } %>
  </div>
  <%- partial('_partial/sidebar') %>

</main>
<%- partial('_partial/footer') %>
<%- partial('_partial/foot') %>