<div class="row">
  <% if(is_home() || is_tag() || is_category()){ %>
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <% page.posts.each(function(article){ %>
    <article class="article animation">
      <div class="article-header">
        <% if(article.title){ %>
        <a href="<%- url_for(article.path) %>">
          <h1 class="article-title">
            <%- article.title %>
          </h1>
        </a>
        <% } %>
        <div class="wrapper">
          <%- partial('_partial/article-meta', {article: article}) %>
        </div>
        <% if(article.photos.length){ %>
        <% article.photos.forEach(function(pic){ %>
        <img class="article-img" src="<%- url_for(pic) %>" alt="article-img">
        <% }) %>
        <% } %>
      </div>
      <div class="article-body">
      <% if(article.excerpt){ %>
        <%- article.excerpt %>
      <% } else{%>
        <%- article.content %>
      <%}%>
      </div>
      <% if(article.tags.length){ %>
      <div class="article-footer">
        <% article.tags.forEach(function(tag){ %>
        <a class="tag-link btn  btn-cat" href="<%- url_for(tag.path) %>">
          <span class="fa fa-tag"></span>
          <%- tag.name %> </a>
        <% }) %>
        <br>
        <a class="  animation readmore" href="<%- url_for(article.path) %>"><%- __('readMore') %>
          <img src="<%- url_for(theme.img) %>/pointer.gif"></img>
        </a>
      </div>
      <% } %>
    </article>
    <% }) %>
    <% if(page.total > 1){ %>
    <div class="paginator">
      <%- paginator() %>
    </div>
    <% } %>
  </div>

  <% }else { %>
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <article class="article">
      <% if(page.title){ %>
      <div class="article-header">
        <h1 class="article-title">
          <%- page.title %>
        </h1>
        <div class="wrapper">
          <%- partial("_partial/article-meta", {article: page}) %>
        </div>
        <% if(is_post() && page.photos.length){ %>
        <% page.photos.forEach(function(pic){ %>
        <img class="article-img" src="<%- url_for(pic) %>" alt="article-img">
        <% }) %>
        <% } %>
      </div>
      <% } %>
      <% if(page.content){ %>
      <div class="article-body">
        <%- page.content %>
      </div>
      <% } %>
      <% if(is_post()){ %>
      <div class="article-footer">
        <% page.tags.forEach(function(tag){ %>
        <a class="tag-link btn btn-cat" href="<%- url_for(tag.path) %>">
          <span class="glyphicon glyphicon-tag"></span>
          <%- tag.name %></a>
        <% }) %>
      </div>
      <% } %>
    </article>
  </div>
  <!-- UY BEGIN -->
  <% if(theme.commets && page.commets){ %>
  <div id="uyan_frame" class="col-xs-12 col-md-10 col-md-offset-1"></div>
  <script type="text/javascript" src="//v2.uyan.cc/code/uyan.js?uid=<%- theme.youyanid %>"></script>
  <!-- UY END -->
  <% } %>
  <% } %>
</div>