<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <meta name="keywords" content="<%- theme.keywords||'blog,Hexo,ZXD' %>" />
    <meta name="description" content="<%- config.description||'theme by ZXD' %>" />
    <link rel="shortcut icon" type="image/x-icon" href="<%- theme.favicon%>" />
    <link rel="stylesheet" href="<%- url_for(theme.css)%>/main.css">
    <link rel="stylesheet" href="<%- url_for(theme.css)%>/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="<%- url_for(theme.js)%>/html5shiv.min.js"></script>
    <script src="<%- url_for(theme.js)%>/respond.min.js"></script>
    <![endif]-->
    <%- open_graph() %>
    <title><%- config.title%></title>
</head>
