<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <meta name="keywords" content="<%- theme.keywords||'Hexo-ZXD ,Blog' %>" />
    <meta name="description" content="<%- config.description||'theme by hexo-ZXD' %>" />
    <link rel="shortcut icon" type="image/x-icon" href="<%- url_for(theme.favicon)%>" />
  <link rel="stylesheet" href="<%- url_for(theme.css)%>/font-awesome.min.css">
  <link rel="stylesheet" href="<%- url_for(theme.css)%>/main.css">
  <link rel="stylesheet" href="<%- url_for(theme.js)%>/fancybox/source/jquery.fancybox.css">
    <!--[if lt IE 9]>
    alert("检测到您的浏览器版本小于9，介意您升级浏览器或者换用chrome等高级浏览器")
    <script src="<%- url_for(theme.js)%>/html5shiv.min.js"></script>
    <script src="<%- url_for(theme.js)%>/respond.min.js"></script>
    <![endif]-->
    <%- open_graph() %>
    <title><%- config.title%></title>
</head>
<body class="animation fade">